* {
         padding:0;
          margin:0;
        }
body {
	font-family: 'Prompt', sans-serif;
	}
a:link, a:active, a:visited {
	color: black;
	text-decoration: none;
	
}
a:hover {
	text-decoration: none;
	color: gray;
}

footer {
	height: 150px;
	clear: both;
	right: 0;
	left: 0;
	background-color: #aaadad;
	margin-bottom: 0;
	position:sticky;
	text-align: center;
	padding: 100px;
	font-size: 20px;

		}
.block {
	clear: both;
	padding-top: 40px;
	padding-left: 3%;
	padding-right: 7%;
	right: 0;
	left: 20%;
}
.tile1 {
	border: solid #dbdbdb 1px;
	right: 0;
	left: 0;
	height: 100px;
			
}
.tile2 {
	border: solid #dbdbdb 1px;
	right: 0;
	left: 0;
	height: 100px;
			
}
.tile3 {
	right: 0;
	left: 0;
	height: 100px;
	border: solid #dbdbdb 1px;
}
.clear {
	clear: both;
	right: 0;
	left: 0;
	height: 100px;
}
.header-place {
	padding: 10px 20px;
	right: 0;
	left: 0;
	height: 75px;
}

.logo {
	font-size: 10px;
	float: left;
}
.cite {
	margin-left: 15%;
	margin-right: 15%;
	padding-top: 20px;
}
.jumbotron {
    padding:0;
    background-color:black;
}
#state {
	padding: 10px;
	text-align: center;
	right: 0;
	left: 0;
	font-size: 20px;
	background-color: #dbdbdb;
}
#map {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  	filter: grayscale(100%);
	height: 200px;
	right: 0;
	left: 0;
	width: 100%;
		}
#background {
	right: 0;
	left: 0;
	width: 100%;
	height: 250px;
	z-index: -1;
	position: absolute;
	top: 0;
	object-fit: cover;
		}
#essay {
	margin-left: 5%;
	margin-right: 5%;
	padding-top: 10px;
}
#highlight {
	background-color: #b7ff8a;
	float: left;
	font-size: 16px;
}
#welcome {
	height: 100px;
}
#call-action {
	text-align: center;
	padding: 2%;
	padding-left: 15%;
	padding-right: 15%;
	font-family: 'La Belle Aurore', cursive;
	font-size: 24px;		
}
